body {
    background-repeat:no-repeat;
    background-image:url(bg3.png);
    background-size:cover;
    background-attachment:fixed;
    margin-left:160px;
    margin-right:120px;
}
::selection{
    background-color:#69696984;
}
@media screen and (max-height:375px) and (orientation:landscape) and (min-width:600px){
    .heading h1{
        color:red;
    }
}
@media screen and (max-width:1024px){
    form .mail, form .password, form .checkbox, form .button {
        left: 400px;
    }
    form .button2{
        position:absolute;
        right:200px;
        top:450px;
    }
    .log h2 {
        position: relative;
        right: 220px;
    }

    .heading h1{
        position: relative;
        right: 0px;
    }
    .para p {
        position:absolute;
        bottom:70px;
        left:350px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    form .button2 {
        left: 540px;
    }
}
@media screen and (max-width:1280px) and (min-width:1025px){
    form .mail,form .password,form .checkbox,form .button{
        left:500px;
    }
    .log h2{
        position:relative;
        right:120px;
    }
    .heading h1,.para p{
        position:relative;
        right:15px;
    }
    form .button2 {
        left: 640px;
    }
}
.heading {
    margin-top: 70px;
    color: #696969;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 20px;
}
.para{
    margin-top:490px;
    margin-bottom:91px;
}
form{
    color:#696969;
    font-size:15px;
}
.log {
    position:absolute;
    top:150px;
    left:620px;
    font-size: 18px;
    text-align: center;
    color: #696969;
    word-spacing: 5px;
    margin-bottom: 100px;
}
.button2{
    background-color:#00000000;
    color:#696969;
    font-family:Arial;
    border:none;
    position:absolute;
    top:372px;
    left:760px;
}
.button2:hover{
    color:#171616;
    cursor:pointer;
}
.button:hover {
    background-color: #4a4949;
    cursor: pointer;
}
label:hover,input[type="checkbox"]:hover {
    cursor: pointer;
}
.checkbox{
    position:absolute;
    left:620px;
    top:320px;
}
.button {
    transition: background-color 0.5s;
    margin: 5px;
    font-size: 17px;
    padding: 5px;
    width: 7em;
    border: none;
    font-family: Arial;
    background-color: #696969;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 360px;
    left: 620px;
}
.password {
    color: black;
    position: absolute;
    width: 19%;
    background-color: #00000000;
    border: 3px solid #696969;
    border-radius: 4px;
    left: 620px;
    top: 275px;
    padding: 7px;
    transition: border 0.4s ;
}
.password:hover{
    outline-color:#171616
}
::placeholder{
    color:#696969;
}
.mail {
    background-image:url(mail.png);
    padding: 7px;
    position: absolute;
    width: 19%;
    background-color: #00000000;
    border: 3px solid #696969;
    border-radius: 4px;
    left: 620px;
    top: 230px;
    outline-color: #171616;
    transition: border 0.4s;
}
.mail:hover,.password:hover{
    border: 3px solid #000000;
}
.log h2 {
    font-size: 30px;
    font-weight: lighter;
}
p{
    text-align:center;
    margin-top:250px;
    color:white;
}